<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.AdminMapper">

    <insert id="addCourse" parameterType="courseVO">

        insert into course(coursename,uid) values (#{coursename},#{uid})

    </insert>

    <select id="isNullCourse" parameterType="String" resultType="courseVO">

        select * from course where coursename = #{courseName}

    </select>

    <delete id="delCourse" parameterType="int">

        delete from course where courseid = #{courseid}

    </delete>

    <select id="queryCourse" resultType="courseVO">

        select * from course

    </select>

    <select id="queryName" parameterType="int" resultType="String">

        select name from users where uid = #{uid}

    </select>

    <insert id="addUser" parameterType="userVO">

        insert into users(uname,password,name) values (#{uname},#{password},#{name})

    </insert>

    <select id="checkUser" parameterType="String" resultType="userVO">

        select * from users where name = #{name}

    </select>

    <select id="getUserByName" parameterType="String" resultType="user">

        select u.* from users as u ,user_role as ur ,role as r where u.uid = ur.uid and ur.rid = r.rid
        and r.rname != 'student' and u.name = #{name}

    </select>

    <select id="getStudentByName" parameterType="String" resultType="student">

        select u.* from users as u ,user_role as ur ,role as r where u.uid = ur.uid and ur.rid = r.rid
        and r.rname = 'student' and u.name = #{name}

    </select>

    <select id="getCname" parameterType="int" resultType="String">

        select c.cname from users as u ,user_class as uc , classes as c where u.uid = uc.uid and uc.cid = c.cid and u.uid = #{uid}

    </select>

    <select id="getTeacher" resultType="userVO">

        select users.* from users,user_role where users.uid = user_role.uid and user_role.rid = 4

    </select>

    <select id="getUser" resultType="userVO">

        select * from users

    </select>

    <select id="getRoleName" parameterType="int" resultType="string">

        select r.rname from users as u , user_role as ur , role as r where u.uid = ur.uid and ur.rid = r.rid and u.uid = #{uid}

    </select>

    <delete id="delUser" parameterType="int">

        delete from users where uid = #{uid}

    </delete>

    <delete id="delCourseByUid" parameterType="int">

        delete from course where uid = #{uid}

    </delete>

    <delete id="delScore" parameterType="int">

        delete from score where uid = #{uid}

    </delete>

    <delete id="delWeekly" parameterType="int">

        delete from weekly where uid = #{uid}

    </delete>

    <delete id="delUserClass" parameterType="int">

        delete from user_class where uid = #{uid}

    </delete>

    <update id="setPassword">

        update users set password = #{password} where uid = #{uid}

    </update>


</mapper>