<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.StaffMapper">

    <select id="queryAll" resultType="Weekly">
        select w.wtitle,w.wtime,w.wcontent,w.wscore,u.uname from weekly w,users u where w.uid = u.uid
    </select>

</mapper>