<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.StudentMapper">

    <update id="updateStudent" parameterType="userVO">

        update users set uname = #{uname},age = #{age},sex = #{sex} where uid = #{uid}

    </update>

    <select id="getStudent" parameterType="int" resultType="userVO">

        select * from users where uid = #{uid}

    </select>

    <insert id="addWeekly" parameterType="weeklyVO">

        insert into weekly (wid,uid,wtitle,wtime,wcontent) values (#{wid},#{uid},#{wtitle},#{wtime},#{wcontent})

    </insert>

    <delete id="delWeekly" parameterType="int">

        delete from weekly where wid = #{wid} and wscore is null

    </delete>

    <select id="queryWeeklyForStudent" parameterType="int" resultType="weeklyVO">

        select * from weekly where uid = #{uid}

    </select>

    <select id="getStudentByUnamePwd" resultType="userVO">

        select * from users where uname = #{uname} and password = #{password}

    </select>

    <!--请假相关-->
    <insert id="addLeave" parameterType="leave" useGeneratedKeys="true" keyProperty="lid">
        insert into uleave (uid,startdate,enddate,reason,state) values (#{user.uid},#{startdate},#{enddate},#{reason},#{reason},0);
    </insert>

    <select id="queryClass" resultType="int" parameterType="int">
        select cid from user_class where uid=#{uid}
    </select>

    <select id="queryTeacher" parameterType="int" resultType="string">
        select u.name from users u,role r,user_class uc,user_role ur where u.uid=uc.uid and r.rname='教师' and r.rid=ur.rid and ur.uid=uc.uid and cid=#{cid}
    </select>

    <select id="queryLeader" parameterType="int" resultType="string">
        select u.name from users u,role r,user_class uc,user_role ur where r.rname='班主任' and r.rid=ur.rid and ur.uid=uc.uid and cid=#{cid}
    </select>

    <select id="queryBoss" resultType="string">
        select u.name from users u,role r,user_role ur where rname='校长' and r.rid=ur.rid and ur.uid=u.uid
    </select>



</mapper>